.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) no-repeat center/cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.cover__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 130%;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 13px 32px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-bottom: 120px;
  padding: 0 24px;
}

.card {
  position: relative;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center/cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center/cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center/cover;
}

.about {
  margin-bottom: 180px;
  padding: 0 24px;
}

.footer {
  padding: 0 50px 82px;
}
